
/* right section*/
#col1{
    width: 80%;
    justify-content: left;
}

/* about artist */
.music-info{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    background-color: #9e9e9e;
}
.singer-band-img{
    position: relative;
    height: 25rem;
    width: 48vh;
    border-radius: 9px;
}
.singer-band-name{
    position: relative;
    left: 0.5em;
    top: 4rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.singer-band-nationality{
    position: relative;
    top: 4rem;
    left: 0.8em;
    font-weight: 600;
}
.singer-band-description{
    position: relative;
    top: 5em;
    right: 4em;
    flex-wrap: wrap;
    overflow:auto;
    left: 0.5em;
    width: 27em;
    text-align: start;
    word-wrap: break-word;
    font-weight: 200;
}
.singer-band-followers{
    position: relative;
    top: 4rem;
    font-weight: 600;
}
.button-container{
    position: relative;
    top: 8rem;
    left: 0.5rem;
}
.play-all-btn{
    background: linear-gradient(to right, #0c96c0, #d112a1);
    border: none;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.follow-btn{
    background: transparent;
    border: none;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.track-album-info-container{
    position: relative;
    font-size: 0.6rem;
    top: 8.5rem;
    left: 0.5rem;
}

/* left section */
#col2{
    width: 30%;
    margin-right: 6rem;
}

.queue-header{
    width: auto;
}

.queue-heading{
    margin-bottom: 5vh;
}
.queue-title{
    font-size: 1.2rem;
}

.queue-drop-font{
    font-size: 0.8rem;
    min-width: 5.5rem;
}

.song-item{
    background-color: #a89191;
    margin-bottom: 3vh;
    margin-right: 1.5vw;
    padding: 0.5rem;
}
.song-item:hover{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.s-no{
    font-size: 0.8rem;
}
.queue-option-title{
    font-size: 0.7rem;
}
.singer-name{
    font-size: 0.8rem;
    font-weight: 400;
}
.song-title{
    font-size: 0.85rem;
}
.options-icon{
    position: relative;
    top: 20%;
    width: 1vw;
}
.queue-song-image{
    height: 3rem;
    width: 3rem;
    margin-left: 1vw;
}
.queue-song-info{
    margin-left: 1vw;
    width: 100%;
}
.queue-like-icon{
    position: relative;
    top: 1.25rem;
    width: 2.5rem;
}
.queue-fav-icon{
    width:1rem;
}

/* similar artist */
#similar-artists-section{
    height: 65vh;
}
.similar-artist-item{
    margin-bottom: 1rem;
    width: 20rem;
}
.similar-artist-img{
    height: 4rem;
    width: 4rem;
}
.similar-artist-info{
    font-size: 0.8rem;
    margin-left: 1rem;
}
.similar-artist-type{
    font-weight: 400;
}
.similar-artist-item:hover{
box-shadow: 0px 9px 20px 5px rgba(0,0,0,0.2);
}
.elipsisStyle:hover{
    cursor: pointer;
}

/* general */
.fontsiz{
    font-size: 0.7rem;
}
.music-player{
    display: block;
}